<div class="span2 offset4 text-center steamy-hottub">


<h1 class="custom-font">I sell gardening tools</h1>

<h2>I dont fuck around</h2>

<%= link_to 'launch my app', '#', :class => 'btn btn-warning btn-large' %>

</div>